[servers]
app ansible_host=${droplet-app-public-ip} ansible_user=root private_ip=${droplet-app-private-ip}
db ansible_host=${droplet-db-public-ip} ansible_user=root private_ip=${droplet-db-private-ip}